body{
}
.main{
  width: 100%;
}

.mainlist{
  width: 80%;
  margin: 0 5%;
  list-style: none;
  display: inline-block;
}
.mainlist_item{
  margin: 0;
  width: 350px;
  height: 533px;
  display: inline-block;
  border: solid;
  vertical-align: top;
}
.mainlist_img img{
  width: 100%;
}
.mainlist_name{
}
/*
.list_img img{
  width:342px;
  height: 440px;
}
*/

.games_dit {
  text-align: center;
}
.item_dit table{
  width: 100%;
}
.item_dit li{
  list-style: none;
}
.item_dit th{
  white-space: nowrap;
    width: 100px;
}
